.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination button {
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  box-shadow: var(--foreground-color) 0px 0.5rem 1.5rem 0px;
  transition: 0.2s;
}
.pagination button:hover {
    scale: 1.05;
}
.pagination button:active {
    scale: 0.95;
}

.pagination button.active {
  background: var(--main-color);
  color: var(--main-text-color);
  box-shadow: var(--foreground-color) 0px 0.5rem 1.5rem 0px;
}
